{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
<h2 class="text-3xl font-bold text-sky-900 m-2">Бойовик</h2>
<div class="scrolling-btns">
    <img src="{% static 'images/img1_left_pointer.png' %}" id="backBtn">

<div class="genre snaps-inline">

{#<img class="control prev" src="{% static 'images/img1_left_pointer.png' %}" alt="">#}
    {% for genre in genres %}

    <div class='flex max-w-sm h-full w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto'>

    <div class="overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-lg hover:shadow-2xl movie-item text-white movie-card" data-movie-id="438631">
        <div class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"></div>
        <div class="relative cursor-pointer group z-10 px-10 pt-10 space-y-6 movie_info" data-lity="">
            <div class="poster__info align-self-end w-full">
                <div class="h-32"></div>
                <div class="space-y-6 detail_info">
                    <div class="flex flex-col space-y-2 inner">

                        <h3 class="text-2xl font-bold text-white" data-unsp-sanitized="clean">{{ genre.title }}</h3>
{#                        <div class="mb-0 text-lg text-gray-400">Beyond fear, destiny awaits.</div>#}
                    </div>
                    <div class="flex flex-row justify-between datos">
                        <div class="flex flex-col datos_col">
                            <div class="popularity">{{ genre.popularity }}</div>
                            <div class="text-sm text-gray-400">Популярність:</div>
                        </div>
                        <div class="flex flex-col datos_col">
                            <div class="release">{{ genre.release_date }}</div>
                            <div class="text-sm text-gray-400">Дата виходу:</div>
                        </div>
                        <div class="flex flex-col datos_col">
                            <div class="release">{{ genre.vote_average }}</div>
                            <div class="text-sm text-gray-400">Рейтинг:</div>
                        </div>
                    </div>
                    <div class="flex flex-col overview">
                        <div class="flex flex-col"></div>
                        <div class="text-xs text-gray-400 mb-2">Опис:</div>
                        <p class="text-xs text-gray-100 mb-6">{{ genre.overview }}</p>
                    </div>
                </div>
{#                <div data-countdown="2021-09-15" class="absolute inset-x-0 top-0 pt-5 w-full mx-auto text-2xl uppercase text-center drop-shadow-sm font-bold text-white">00 Days 00:00:00</div>#}
            </div>
        </div>
        <img class="absolute inset-0 transform w-full -translate-y-4" src="https://image.tmdb.org/t/p/w342/{{ genre.poster_path }}" style="filter: grayscale(0);" />
        <div class="poster__footer flex flex-row relative pb-10 space-x-4 z-10"></div>
    </div>

    </div>



    {% endfor %}

</div>
<img src="{% static 'images/img2_right_pointer.png' %}" id="nextBtn">
</div>
<script>
    let scrollContainer = document.querySelector(".popular");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
        scrollContainer.style.scrollBehavior = "auto";
    });
    nextBtn.addEventListener("click", ()=> {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 1500;
    });
    backBtn.addEventListener("click", ()=> {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 1500;
    });
</script>
</div>

</div>

</body>
</html>