{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<header>
    {% if selected_language_code == 'uk-UA' %}
        <nav
                class="relative flex w-full items-center justify-between bg-neutral-50 py-2 text-neutral-600 shadow-lg dark:bg-neutral-700 dark:text-neutral-300 dark:shadow-black/5 lg:flex-wrap lg:justify-start"
                data-te-navbar-ref>
            <div class="px-6">
                <button
                        class="border-0 bg-transparent py-3 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden"
                        type="button"
                        data-te-collapse-init
                        data-te-target="#navbarSupportedContentY"
                        aria-controls="navbarSupportedContentY"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
      <span class="[&>svg]:w-8">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-8 w-8">
          <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
      </span>
                </button>
                <div
                        class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
                        id="navbarSupportedContentY"
                        data-te-collapse-item>
                    <ul class="mr-auto flex flex-row" data-te-navbar-nav-ref>
                        <li data-te-nav-item-ref>
                            <a
                                    class="block py-2 pr-2 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:px-2 text-sky-900"
                                    href="{% url 'show' %}"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                            >Головна</a
                            >
                        </li>

                        <li class="static" data-te-nav-item-ref data-te-dropdown-ref>
                            <a
                                    class="flex items-center whitespace-nowrap py-2 pr-2 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:px-2 text-sky-900"
                                    href="#"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                    type="button"
                                    id="dropdownMenuButtonX"
                                    data-te-dropdown-toggle-ref
                                    aria-expanded="false"
                                    data-te-nav-link-ref
                            >Категорії
                                <span class="ml-2 w-2">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="h-5 w-5">
                <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"/>
              </svg>
            </span>
                            </a>

                            <div
                                    class="absolute left-0 right-0 top-full z-[1000] mt-0 hidden w-full border-none bg-white bg-clip-padding text-neutral-600 shadow-lg dark:bg-neutral-700 dark:text-neutral-200 [&[data-te-dropdown-show]]:block text-sky-900"
                                    aria-labelledby="dropdownMenuButtonY"
                                    data-te-dropdown-menu-ref>
                                <div class="px-6 py-5 lg:px-8">
                                    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
                                        <div>
                                            <a
                                                    href="{% url 'show' %}#myHeading_watchlist"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Переглянуте</a
                                            >
                                            <a
                                                    href="{% url 'show' %}#myHeading_1"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Популярне</a
                                            >
                                            <a
                                                    href="{% url 'show' %}#myHeading_2"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Бойовик</a
                                            >

                                        </div>
                                        <div>
                                            <a
                                                    href="{% url 'show' %}#myHeading_3"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Кримінал</a>
                                            <a
                                                    href="{% url 'show' %}#myHeading_4"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Мультики</a>
                                            <a
                                                    href="{% url 'show' %}#myHeading_5"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Драма</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-end grow">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="language" value="uk-UA"
                            class="bg-sky-900 hover:bg-sky-700 text-sky-50 font-semibold hover:text-white py-2 px-4 border border-sky-700 hover:border-transparent rounded">
                        UA
                    </button>
                    <button type="submit" name="language" value="en-US"
                            class="bg-transparent hover:bg-sky-900 text-sky-900 font-semibold hover:text-white py-2 px-4 border border-sky-700 hover:border-transparent rounded">
                        EN
                    </button>
                </form>
            </div>

            {% if request.user.username == '' %}

                <a href="{% url 'register' %}"
                   class="bg-sky-900 hover:bg-sky-800 text-white font-bold py-2 px-4 border border-sky-800 rounded mr-2 ml-4">
                    Зареєструватися
                </a>
                <a href="{% url 'login' %}"
                   class="bg-sky-900 hover:bg-sky-800 text-white font-bold py-2 px-4 border border-sky-800 rounded mr-2">
                    Увійти
                </a>
                </div>
            {% else %}
                <div class="flex justify-end grow">
                    <span class="text-lg text-black mr-4">Привіт, {{ request.user }}</span>
                    <span class="text-lg text-black mr-4"><a href="{% url 'logout' %}">Вийти</a></span>
                </div>
            {% endif %}


        </nav>
    {% else %}
        <nav
                class="relative flex w-full items-center justify-between bg-neutral-50 py-2 text-neutral-600 shadow-lg dark:bg-neutral-700 dark:text-neutral-300 dark:shadow-black/5 lg:flex-wrap lg:justify-start"
                data-te-navbar-ref>
            <div class="px-6">
                <button
                        class="border-0 bg-transparent py-3 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden"
                        type="button"
                        data-te-collapse-init
                        data-te-target="#navbarSupportedContentY"
                        aria-controls="navbarSupportedContentY"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
      <span class="[&>svg]:w-8">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-8 w-8">
          <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
      </span>
                </button>
                <div
                        class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
                        id="navbarSupportedContentY"
                        data-te-collapse-item>
                    <ul class="mr-auto flex flex-row" data-te-navbar-nav-ref>
                        <li data-te-nav-item-ref>
                            <a
                                    class="block py-2 pr-2 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:px-2 text-sky-900"
                                    href="{% url 'show' %}"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                            >Home</a
                            >
                        </li>

                        <li class="static" data-te-nav-item-ref data-te-dropdown-ref>
                            <a
                                    class="flex items-center whitespace-nowrap py-2 pr-2 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:px-2 text-sky-900"
                                    href="#"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                    type="button"
                                    id="dropdownMenuButtonX"
                                    data-te-dropdown-toggle-ref
                                    aria-expanded="false"
                                    data-te-nav-link-ref
                            >Categories
                                <span class="ml-2 w-2">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="h-5 w-5">
                <path
                        fill-rule="evenodd"
                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                        clip-rule="evenodd"/>
              </svg>
            </span>
                            </a>

                            <div
                                    class="absolute left-0 right-0 top-full z-[1000] mt-0 hidden w-full border-none bg-white bg-clip-padding text-neutral-600 shadow-lg dark:bg-neutral-700 dark:text-neutral-200 [&[data-te-dropdown-show]]:block text-sky-900"
                                    aria-labelledby="dropdownMenuButtonY"
                                    data-te-dropdown-menu-ref>
                                <div class="px-6 py-5 lg:px-8">
                                    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
                                        <div>
                                            <a
                                                    href="{% url 'show' %}#myHeading_watchlist"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Watchlist</a
                                            >
                                            <a
                                                    href="{% url 'show' %}#myHeading_1"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Popular</a
                                            >
                                            <a
                                                    href="{% url 'show' %}#myHeading_2"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Action</a
                                            >

                                        </div>
                                        <div>
                                            <a
                                                    href="{% url 'show' %}#myHeading_3"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Crime</a>
                                            <a
                                                    href="{% url 'show' %}#myHeading_4"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white">Cartoons</a>
                                            <a
                                                    href="{% url 'show' %}#myHeading_5"
                                                    aria-current="true"
                                                    class="block w-full border-b border-neutral-200 px-6 py-2 transition duration-150 ease-in-out hover:bg-neutral-50 hover:text-neutral-700 dark:border-neutral-500 dark:hover:bg-neutral-800 dark:hover:text-white"
                                            >Drama</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-end grow">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="language" value="uk-UA"
                            class="bg-transparent hover:bg-sky-700 text-sky-700 font-semibold hover:text-white py-2 px-4 border border-sky-700 hover:border-transparent rounded">
                        UA
                    </button>
                    <button type="submit" name="language" value="en-US"
                            class="bg-sky-900 hover:bg-sky-700 text-sky-50 font-semibold hover:text-white py-2 px-4 border border-sky-700 hover:border-transparent rounded">
                        EN
                    </button>
                </form>

                {% if request.user.username == '' %}

                    <a href="{% url 'register' %}"
                       class="bg-sky-900 hover:bg-sky-800 text-white font-bold py-2 px-4 border border-sky-800 rounded mr-2 ml-4">
                        Sign up
                    </a>
                    <a href="{% url 'login' %}"
                       class="bg-sky-900 hover:bg-sky-800 text-white font-bold py-2 px-4 border border-sky-800 rounded mr-2">
                        Sign in
                    </a>
                    </div>
                {% else %}
                    <div class="flex justify-end grow">
                        <span class="text-lg text-black mr-4">Hello, {{ request.user }}</span>
                        <span class="text-lg text-black mr-4"><a href="{% url 'logout' %}">Logout</a></span>
                    </div>
                {% endif %}


        </nav>
    {% endif %}
    <script>
        const dropdownButton = document.getElementById('dropdownMenuButtonX');
        const dropdownMenu = document.querySelector('[data-te-dropdown-menu-ref]');

        dropdownButton.addEventListener('click', () => {
            // Toggle the visibility of the dropdown menu
            dropdownMenu.classList.toggle('hidden');
        });
    </script>

</header>
<body>
<div class="bg-sky-900">
    <div style="position: relative;">
        <img src="{% static 'images/banner_blue_small.png' %}" class="img-fluid" alt="" width="100%"
             style="vertical-align: middle; margin-bottom: 50px">
        {% if selected_language_code == 'uk-UA' %}
            <div class="mb-3"
                 style="position: absolute; top: 25%; left: 50%; color: white; font-weight: bold; font-size: 70px; transform: translate(-50%, -50%); display: flex; align-items: center;">
                <p>Знайди свій фільм</p>
            </div>
        {% else %}
            <div class="mb-3"
                 style="position: absolute; top: 25%; left: 50%; color: white; font-weight: bold; font-size: 70px; transform: translate(-50%, -50%); display: flex; align-items: center;">
                <p>Find your movie</p>
            </div>
        {% endif %}
        <form id="searchForm" action="/search/" method="get">
            <div class="mb-3"
                 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center;">
                <input id="searchInput" type="search"
                       class="rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                       style="width: 700px; height: 50px; cursor: auto" placeholder="Search" aria-label="Search"
                       aria-describedby="button-addon1"/>
                <button class="bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                        type="submit" id="button-addon1" data-te-ripple-init data-te-ripple-color="light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-8 w-5">
                        <path fill-rule="evenodd"
                              d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>

    <script>
        const searchUrl = "/search/"; // Set the URL for the search page

        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const query = document.getElementById('searchInput').value;

            console.log('Query:', query);

            window.location.href = searchUrl + "?query=" + encodeURIComponent(query);
        });
    </script>


    <div>
        {% if selected_language_code == 'uk-UA' %}
            <h1 class="text-3xl font-bold text-sky-50 m-8">Результати пошуку</h1>
        {% else %}
            <h1 class="text-3xl font-bold text-sky-50 m-8">Results</h1>
        {% endif %}
        <div class="flex items-center relative object-contain carousel-container">
            {% if films|length > 4 %}
                <img class="w-12 h-12 absolute rounded-full bg-black cursor-pointer p-3 object-contain backBtn"
                     src="{% static 'images/img1_left_pointer.png' %}">
            {% endif %}

            <div class="popular snaps-inline w-full px-2">

                {% for f in films %}

                    <div class="flex max-w-sm h-full w-full bg-sky-900 shadow-md rounded-lg overflow-hidden mx-auto">

                        <div class="w-full overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-lg hover:shadow-2xl movie-item text-white movie-card"
                             data-movie-id="438631">
                            <div class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"></div>
                            <div class="relative cursor-pointer group z-10 px-10 pt-10 space-y-6 movie_info"
                                 data-lity="">
                                <div class="poster__info align-self-end w-full">
                                    <div class="h-32"></div>
                                    <div class="space-y-6 detail_info">
                                        <div class="flex flex-col space-y-2 inner">

                                            <h3 class="text-2xl font-bold text-white"
                                                data-unsp-sanitized="clean">{{ f.title }}</h3>
                                        </div>
                                        <div class="flex flex-row justify-between datos">
                                            <div class="flex flex-col datos_col">
                                                <div class="popularity">{{ f.popularity }}</div>
                                                <div class="text-sm text-gray-400">Популярність:</div>
                                            </div>
                                            <div class="flex flex-col datos_col">
                                                <div class="release">{{ f.release_date }}</div>
                                                <div class="text-sm text-gray-400">Дата виходу:</div>
                                            </div>
                                            <div class="flex flex-col datos_col">
                                                <div class="release">{{ f.vote_average }}</div>
                                                <div class="text-sm text-gray-400">Рейтинг:</div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col overview">
                                            <div class="flex flex-col"></div>
                                            <div class="text-xs text-gray-400 mb-2">Опис:</div>
                                            <p class="text-xs text-gray-100 mb-6">{{ f.overview }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="absolute inset-0 transform w-full -translate-y-4"
                                 src="https://image.tmdb.org/t/p/w342/{{ f.poster_path }}"
                                 style="filter: grayscale(0);"/>
                            <div class="poster__footer flex flex-row relative pb-10 space-x-4 z-10">
                                <button class="add-to-watchlist flex items-center py-2 px-4 rounded-full mx-auto text-white bg-sky-900 hover:bg-sky-900"
                                        onclick="addToWatchlist('{{ movie.id }}')">
                                    {#                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"#}
                                    {#                                                 viewBox="0 0 24 24" stroke="currentColor">#}
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>
                                    <span class="text-sm text-white ml-2">Add to Watchlist</span>
                                </button>
                            </div>


                        </div>
                    </div>
                {% endfor %}

            </div>
            {% if films|length > 4 %}
                <img class="w-12 h-12 absolute rounded-full bg-black cursor-pointer p-3 object-contain nextBtn"
                     src="{% static 'images/img2_right_pointer.png' %}">
            {% endif %}
        </div>
    </div>
    <script>
        // Отримання ідентифікатора користувача з Django та передача його до JavaScript
        const userId = {{ userId|default:"null" }};

        function addToWatchlist(movieId) {
            fetch(`/add_to_watchlist/${movieId}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({movieId: movieId, userId: userId}) // Додайте ідентифікатор користувача до запиту
            })
                .then(response => {
                    if (response.ok) {
                        alert('Added to watchlist');
                        fetchAndRefreshWatchlist(); // Оновлення watchlist на стороні клієнта після додавання
                    } else {
                        alert('Failed to add to watchlist');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            const carouselContainers = document.querySelectorAll('.carousel-container');
            carouselContainers.forEach((element) => {
                const btnNext = element.getElementsByClassName('nextBtn')[0];

                const scrollableElement = element.querySelector('.popular');

                btnNext.addEventListener('click', () => {
                    scrollableElement.scrollBy({left: 1500, behavior: 'smooth'})
                });

                const btnBack = element.getElementsByClassName('backBtn')[0];
                btnBack.addEventListener('click', () => {
                    scrollableElement.scrollBy({left: -1500, behavior: 'smooth'})
                });
            })
        });
    </script>
</div>

</div>
</div>
</body>
</html>